<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
</head>

<body>
    <div id="app">
        <div class="header">
            <h1>Tsars game</h1>
            <a href="http://sneakbug8.com">Home</a>
        </div>
        <div class="main">
            <div class="tsar" v-for="tsar in tsars">
                <img :id="tsar.id" class="tsarimage" :src="tsar.portrait" @click="onclick(tsar.id)" :alt="tsar.alt">
            </div>
        </div>
        <div class="bottom">
            <div class="time">
                Time elapsed: {{time}}
            </div>
            <div v-if="tsardata" class="tsardata">
                {{tsardata}}
            </div>
        </div>
    </div>
    <div class="footer">
        <a href="https://sneakbug8.com">Made by SneakBug8</a>
    </div>
</body>
<script src="game.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

</html>