body {
    box-sizing: border-box;
    background-color: #9bc1bc;
    font-family: 'Open Sans', sans-serif;
}

#app {
    display: block;
    background-color: #e6ebe0;
    height: auto;
    width: 80%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    padding: 0 10px 10px 10px;
}

#app,
.tsar{
    border-bottom: 3px solid #5ca4a9;
    border-radius: 5px;
}

.main {
    display: flex;
    min-height: 110px;
}

.tsar {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.tsar:hover {
    margin: 8px;
    border: 2px solid #5ca4a9;
    border-bottom: 3px solid #5ca4a9;
}

.tsarimage {
    width: 100%;
    height: 100%;
}

@media (min-width: 800px) {

    .time,
    .tsardata {
        display: block;
        width: 50%;
        height: 20px;
        float: left;
        margin-top: 30px;
    }
}

@media (max-width: 800px) {
    .time {
        margin-top: 30px;
    }

    .time,
    .tsardata {
        display: block;
        width: 100%;
        height: auto;
    }
}

.header {
    display: block;
    position: relative;
    height: auto;
    width: auto;
    overflow: hidden;
    background-color: #ed6a5a;
    margin: 0 -10px 10px -10px;
    color: white;
    border-bottom: 3px solid #c75749;
}

.header h1,
.header a {
    display: block;
    margin: 5px;
}

h1,
a {
    font-size: 24pt;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.header a {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 18pt;
}

.footer {
    display: block;
    width: 200px;
    margin: auto;
    margin-top: 20px;
}

.footer a {
    font-size: 14px;
    color: #ed6a5a;
}